html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background-color: #f8f9fb;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.table-hover tbody tr:hover {
    background-color: #f1f5ff;
    transition: 0.2s ease-in-out;
}

input:focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(13,110,253,.25);
}
